.hero {
  position: relative;
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
} */

.content {
  position: relative;
  text-align: center;
  color: rgb(44, 47, 36);
  max-width: 600px;
  animation: fadeUp 1s ease forwards;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
  animation: slideInLeft 1s ease forwards;
}

.desc {
  font-size: 16px;
  margin-bottom: 25px;
  animation: fadeUp 1.2s ease forwards;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  animation: slideInBottom 1.4s ease forwards;
}

.primary {
  padding: 12px 25px;
  border: none;
  background: #c0392b;
  color: white;
  border: 2px solid #c0392b;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.primary:hover {
  border: 2px solid #c0392b;
  color: black;
  transform: scale(1.05);
}

.secondary {
  padding: 12px 25px;
  border: 2px solid rgb(44, 47, 36);
  background: transparent;
  color: rgb(44, 47, 36);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.secondary:hover {
  background: #c0392b;
  color: white;
  border: 2px solid #c0392b;
  transform: scale(1.05);
}

/* Animations */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .buttons {
    flex-direction: column;
  }
}
